<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE</title>
</head>

<body style="background-color:rgb(104, 182, 241) ;">
    <div style="margin-top:15% ; margin-left: 40%;">
        <form method="post" enctype="application/x-www-form-urlencoded">
            <span>Enter new lesson Name</span> <input type="text" name="lessonName" placeholder="lessonName" style="margin-left: 9px;"/>
            <br />
            <span>Enter past lesson ID </span> <input type="number" name="id" placeholder="ID" style="margin-left: 30px;"/>
            <br />
            <button type="submit" style="margin-left: 15%;margin-top: 3%;">click me </button>

        </form>
    </div>

</body>

</html>